.box{
    width: 10%;
    padding: 5px 5px;
    margin: 2px 5px;
    box-sizing: border-box;
    border: none;
    background-color: #7fc5ab;
    color: white;
    border-radius: 2px;
  }
  
.limit{
  margin-bottom:0;
  margin-top: 10px;
}
.input-box {
    width: 40%;
    height: 35px;
    padding: 12px 20px;
    margin: 15px 10px 0 10px;
    box-sizing: border-box;
    border: none;
    background-color: #3CBC8D;
    color: white;
    border-radius: 2px;
  }

  .col{
    display:inline-block;
    /* display: grid; */
  }

  .paginationButtons{
    width:80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content:space-around;
    padding: 30px;
    margin: 8px;

    /* border-radius: 5px; */
    /* border: 1px solid #2b2eff;  */
    color: #2b2eff;
    cursor: pointer;
  }
  /* .nextButton{
    width:10%;
    height: 30px;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #2b2eff;
    color: #2b2eff;
    cursor: pointer;
  }
  */

  .paginationButtons a:hover {
    color: white;
    background-color: #2b2eff;
  }

  .paginationActive{
    color: white;
    background-color: #2b2eff;
  }

  .previousButton{
    width:80%;
    height: 10px;
    list-style: none;
    display: flex;
    justify-content:space-around;
    padding: 20px;
    margin: 8px;

    border-radius: 5px;
     border: 1px solid #2b2eff;  
    color: #2b2eff;
    cursor: pointer;
  }
  .nextButton{
    width:80%;
    height: 10px;
    list-style: none;
    display: flex;
    justify-content:space-around;
    padding: 20px;
    margin: 8px;

    border-radius: 5px;
     border: 1px solid #2b2eff;  
    color: #2b2eff;
    cursor: pointer;
  }
